.auth_container {
	background-color: #f6f7fb;
	min-height: 100vh;
	.auth__content {
		background-color: #fff;
		padding: 1.5rem;
		border-radius: 8px;
		z-index: 2;
		box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
		.brand {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			margin: 0 auto;
			img {
				max-width: 100%;
			}
		}

		h5 {
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 1.2;
			font-family: inherit;
		}

		p {
			font-size: 14px;
		}
	}
}
